<div class="row">
  <div class="col-sm-6">
    <h5>CC-1095487456</h5>
  </div>
  <div class="col-sm-6">
    <h5 class="marginf">24 abril 2024 08:20:56 AM</h5>
  </div>
</div>
<div>
  <h1 class="titulo margint">¿Que quieres realizar?</h1>
</div>
<div class="grid-container">
  @foreach (var categoria in Model)
  {

    <a asp-controller="Home" asp-action="Turno" asp-route-siglas="@categoria.Siglas" class="card bg-secondary">
      <div class="cards card-body">
        <h5 class="card-title">@categoria.Nombre</h5>

      </div>
    </a>

  }

</div>


<style>
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
  }

  .c1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .margin {
    margin-top: 30px;
  }

  .margint {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .marginf {

    margin-left: 390px;
  }

  .card-title {
    font-size: 27px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

  }
</style>