<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card text-center mt-5" style=" border: none">
                <div class="d-inline-flex col-12">
                    <div class="form-group text-center col-6">
                        <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="">Gestion de turnos y citas</a>
                    </div>
                    <div class="form-group text-center col-6">
                        <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="">Historial de turnos</a>
                    </div>
                </div>
                <div class="d-inline-flex col-12 mt-5 p-4">
                    <div class="form-group text-center col-6">
                        <a type="button" class="btn btn-info" asp-controller="Home" asp-action="">Llamar turno especifico</a>
                    </div>
                    <div class="form-group text-center col-6">
                        <a type="button" class="btn btn-success" asp-controller="Home" asp-action="">Llamar</a>
                    </div>
                </div>
                <div class="d-inline-flex col-12 mt-5">
                   <div class="form-group text-center col-6">
                        <a type="button" class="btn btn-warning" asp-controller="Home" asp-action="">Crear</a>
                    </div>
                    <div class="form-group text-center col-6">
                        <a type="button" class="btn btn-danger" asp-controller="Home" asp-action="">Reusar</a>
                    </div>
                </div>
                <div class="d-inline-flex col-12 mt-5">
                    <div class="form-group text-center col-6">
                        <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="">Pausar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mt-5">
                    <div class="card-body">
                        <div class="form-group text-end">
                            <p>Turnos en espera: 15</p>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Servicio</th>
                                    <th>Pendientes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pago de facturas</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Solicitud de citas</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Autorización medicamentos</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Información general</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card text-center " style=" border: none">
                        <div class="d-inline-flex col-12 mt-5">
                            <div class="form-group text-center col-2">
                                <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="">Modulo 1</a>
                            </div>
                            <div class="form-group text-center col-2">
                                <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="">Modulo 2</a>
                            </div>
                            <div class="form-group text-center col-2">
                                <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="">Modulo 3</a>
                            </div>
                            <div class="form-group text-center col-2">
                                <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="">Modulo 4</a>
                            </div>
                            <div class="form-group text-center col-2">
                                <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="">Modulo 5</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>