<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card text-center mt-5" style=" border: none">   
                <div class="d-inline-flex col-12">
                    <div class="form-group text-center col-6">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(96, 96, 243);"><b>Gestion de turnos y citas</b></button>
                    </div>
                    <div class="form-group text-center col-6">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(96, 96, 243);"><b>Historial de turnos</b></button>
                    </div>
                </div>
                <div class="d-inline-flex col-12 mt-5 p-4">
                    <div class="card col-6 ">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(96, 96, 243);"><b>Llamar turno especifico</b></button>
                    </div>
                    <div class="card col-6">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(74, 239, 115);"><b>Llamar</b></button>
                    </div>
                </div>
                <div class="d-inline-flex col-12 mt-5">
                    <div class="card col-6">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(218, 236, 88); color: black;"><b>Crear</b></button>
                    </div>
                    <div class="card col-6">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(234, 92, 56);"><b>Reusar</b></button>
                    </div>
                </div>
                <div class="d-inline-flex col-12 mt-5">
                    <div class="card col-12">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(187, 47, 238);"><b>Pausar</b></button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mt-5">
                    <div class="card-body">
                        <div class="form-group text-end">
                            <p>Turnos en espera: 15</p>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Servicio</th>
                                    <th>Pendientes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pago de facturas</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Solicitud de citas</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Autorización medicamentos</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Información general</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card text-center " style=" border: none"> 
                <div class="d-inline-flex col-12 mt-5">  
                    <div class="form-group text-end col-2">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(96, 96, 243);"><b>Modulo 1</b></button>
                    </div>
                    <div class="form-group text-end col-2">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(96, 96, 243);"><b>Modulo 2</b></button>
                    </div>
                    <div class="form-group text-end col-2">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(96, 96, 243);"><b>Modulo 3</b></button>
                    </div>
                    <div class="form-group text-end col-2">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(96, 96, 243);"><b>Modulo 4</b></button>
                    </div>
                    <div class="form-group text-end col-2">
                        <button class="btn btn-secondary btn-block" id="btnReusarTurno" style="background-color: rgb(96, 96, 243);"><b>Modulo 5</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>