@{
    ViewData["Title"]= "Asignacion turno";
}


<div class="container">
    <div class="text-center">
        <div class="card">
            <div class="card-body">
                <h4>HOSPITAL LA MISERICORDIA</h4>
                <p class="card-text">@ViewData["informacion"]</p>
                <h1 class="card-title">IG-030</h1>
                <p class="card-text">24 abril 2024</p>
                <p class="card-text">08:48:58 PM</p>

            </div>
            <div class="card-footer">
                <a asp-controller="Home"  asp-action="Ingreso" class="btn btn-lg btn-primary">Tomar turno</a>
            </div>
        </div>

    </div>
</div>