@{
    ViewData["Home"] = "Turnos Page";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-8 card text-center img-fluid">
            <img class="" src="~/img/logo.png" style="width:700px ; height: 350px ">
        </div>
        <div class="col-2 card text-center">
            <h2 class="text-center">MODULOS</h2>
            <h3><b>1</b></h3>
            <h3><b>2</b></h3>
            <h3><b>3</b></h3>
            <h3><b>5</b></h3>
            <h3><b>4</b></h3>
        </div>
        <div class="col-2 card text-center">
            <h2 class="text-center">TURNOS</h2>
            <h3><b>SC-29</b></h3>
            <h3><b>PF-31</b></h3>
            <h3><b>AM-48</b></h3>
            <h3><b>IG-56</b></h3>
            <h3><b>SC-89</b></h3>
        </div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="row card text-center" style="text-center b-r:10px">
        <div class="col-4">
            <p class="mb-2" style="text-center"><b>Fecha 23/04/2024 09:06:15</b></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row card text-center">
        <div class="col-12">
            <marquee><h2 class="text-center mb-2">Bienvenidos al hospital la misericordia donde tu salud es nuestra prioridad</h2></marquee>
        </div>
    </div>
</div>





